openapi: 3.0.3
info:
  title: UIC 90918-10 - OSDM
  version: 3.7.1
  description: "Specifications for the OSDM API standard. The OSDM specification supports\
    \ two modes of operation: Retailer Mode and Distributor Mode. The API works identically\
    \ in both modes, except that in distributor mode the API also returns fare information.\n\
    \nThe following resources are key to get started:\n\n  -  [Processes](https://osdm.io/spec/processes/)\n\
    \  -  [Models](https://osdm.io/spec/models/)\n  -  [Getting started](https://osdm.io/spec/getting-started/)\n"
  contact:
    name: OSDM Working Group
    url: https://osdm.io
    email: osdm@uic.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://s3p-osdm.cloud.sqills.com
  description: 'Sqills Sandbox

    '
- url: https://osdm-5.platform.bileto.zone/api
  description: 'Bileto Sandbox (osdm.cz)

    '
- url: https://benerail-stg-apim.azure-api.net
  description: 'benerail Sandbox

    '
- url: https://api.sandbox.turnit.tech/retailer
  description: 'Turnit Sandbox

    '
tags:
- name: Versions
  description: 'information about the available versions of the OSDM API

    '
- name: Places
  description: 'resources to search for places

    '
- name: Trips
  description: 'resources to search for trips

    '
- name: Offers
  description: 'resources to get bookable offers

    '
- name: Offer Overview
  description: 'resources to get an overview of prices without detailed offer information

    '
- name: Availabilities
  description: 'resources to query availabilities before or after pre-booking

    '
- name: BookingPart
  description: 'resources to add and remove offer parts to a pre-booked booking

    '
- name: Bookings
  description: 'resources to manipulate bookings

    '
- name: BookedOffers
  description: 'resources to manipulate bookings

    '
- name: Bookings Search
  description: 'resources to search for bookings

    '
- name: Bookings Split
  description: 'resources to split a booking

    '
- name: Purchaser
  description: 'resources to manipulate a purchaser''s information at every stage
    of the flow

    '
- name: Passengers
  description: 'resources to manipulate a passenger''s information at every stage
    of the flow

    '
- name: Passenger Categories
  description: 'optional objects to simplify the entry of passenger specifications

    '
- name: Fulfillments
  description: 'resources to retrieve fulfillments, e.g. tickets

    '
- name: Refund
  description: 'resources to get and accept a refund offer

    '
- name: Exchange
  description: 'resources to get exchange offers and book it

    '
- name: On Hold
  description: 'resources to put a pre-booking on hold for a given time limit

    '
- name: Release
  description: 'resources to release a fulfillment (two-step refund where the first
    step is to mark the release date, release allocated seats, invalidate the ticket.
    Refund of money is performed in the second step.)

    '
- name: Complaint Management
  description: 'resources to manage complaints

    '
- name: Cancel Fulfillments
  description: 'resources to cancel fulfillments

    '
- name: Booking Documents
  description: 'resources to get documents

    '
- name: Reimbursement Management
  description: 'resources to manage reimbursements

    '
- name: Travel Account
  description: 'resource to get a travel account

    '
- name: On-Demand Services
  description: 'resources to handle continuous services (e.g. bike, scooter)

    '
- name: Search
  description: 'search resources

    '
- name: Master Data
  description: 'resources to get master data

    '
- name: Product
  description: 'resources to get product and product related master data

    '
paths:
  /versions:
    get:
      summary: Returns all available versions of the OSDM API.
      tags:
      - Versions
      operationId: getVersions
      responses:
        '200':
          description: 'versions available

            '
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiVersion'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
  /places:
    get:
      tags:
      - Master Data
      summary: Returns all places.
      operationId: getPlaces
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/ifNoneMatch'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: page
        in: query
        schema:
          type: string
        deprecated: true
      responses:
        '200':
          description: 'places found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
          headers:
            Cache-Control:
              schema:
                type: string
                default: public, max-age=10000
              description: 'Resource is fairly persistent and has a medium time to
                live to allow short-term caching.

                '
            ETag:
              schema:
                type: string
              description: version tag
        '303':
          $ref: '#/components/responses/SeeOtherResponse'
        '304':
          $ref: '#/components/responses/NotModifiedResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
    post:
      tags:
      - Places
      summary: returns place information for a given place request
      description: 'Returns places for a given place request based on the OJP specification.

        '
      operationId: postPlaces
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
        description: deprecated
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/acceptNamespace'
      requestBody:
        required: true
        description: 'request for place

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceRequest'
      responses:
        '200':
          description: 'places found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /places/{placeId}:
    get:
      tags:
      - Places
      summary: returns a place
      operationId: getPlacesId
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
        description: deprecated
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: placeId
        in: path
        description: 'id of the place to get.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'place found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
          headers:
            Cache-Control:
              schema:
                type: string
                default: public, max-age=10000
                description: 'Resource is fairly persistent and has a medium time
                  to live to allow short-term caching.

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /trips-collection:
    post:
      tags:
      - Trips
      summary: returns a collection of trips for a given OJP trip request
      description: 'Returns trips for a given trip request based on the OJP specification.

        '
      operationId: postTrips
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: stopBehavior
        in: query
        schema:
          $ref: '#/components/schemas/StopBehavior'
        required: false
      requestBody:
        required: true
        description: 'request for trips

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripSearchCriteria'
      responses:
        '200':
          description: 'trips found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /trips-collections/{tripsCollectionId}:
    get:
      tags:
      - Trips
      summary: Returns a collection of trips.
      description: 'Returns a collection of trips for a for a given trips collection
        id.

        The unique codes of the origin and destination can be resolved using the places
        service.

        '
      operationId: getTripsCollectionId
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: tripsCollectionId
        in: path
        description: 'id of the trips

          '
        required: true
        schema:
          type: string
      - name: stopBehavior
        in: query
        schema:
          $ref: '#/components/schemas/StopBehavior'
        required: false
      - name: page
        in: query
        schema:
          type: string
        deprecated: true
      - name: embed
        in: query
        description: 'Influences whether referenced resources are returned in full
          or as references only.

          Default value: ALL

          '
        schema:
          type: array
          maxItems: 2
          items:
            $ref: '#/components/schemas/TripsCollectionResponseContent'
      responses:
        '200':
          description: 'trips found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripCollectionResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /trips:
    post:
      tags:
      - Trips
      summary: Returns a new trip for given OJP parameters based on an already existing
        trip
      description: 'Returns a new trip for given OJP parameters based on an already
        existing trip.

        '
      operationId: postTripsChange
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: stopBehavior
        in: query
        schema:
          $ref: '#/components/schemas/StopBehavior'
        required: false
      requestBody:
        description: 'request for trips

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripChangeCriteria'
      responses:
        '200':
          description: 'trips changed

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /trips/{tripId}:
    get:
      tags:
      - Trips
      summary: Returns a trip element representing a travel trip.
      description: 'A trip consists of one or more legs for a given tripId. Depending
        on the

        embed either references or full location definitions is returned.

        '
      operationId: getTripsId
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: tripId
        in: path
        description: 'id of the trip to get.

          '
        required: true
        schema:
          type: string
          maxLength: 32768
      - name: stopBehavior
        in: query
        schema:
          $ref: '#/components/schemas/StopBehavior'
        required: false
      - name: embed
        in: query
        description: 'Influences whether referenced resources are returned in full
          or as references only.

          Default value: ALL

          '
        schema:
          type: array
          maxItems: 1
          items:
            $ref: '#/components/schemas/TripResponseContent'
      responses:
        '200':
          description: 'trip found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripResponse'
          headers:
            Cache-Control:
              schema:
                type: string
                default: public, max-age=10000
                description: 'Resource is fairly persistent and has a medium time
                  to live to allow short-term caching.

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /offers:
    post:
      tags:
      - Offers
      summary: Returns offers for trips or trip search criteria.
      operationId: createOffers
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferCollectionRequest'
      responses:
        '200':
          description: 'collection of offers found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferCollectionResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/additional-offers:
    get:
      tags:
      - Offers
      summary: Get additional offers of booked offer for a given booking. A provider
        can decide to allow or reject additional offers admissions, reservations or
        ancillaries on an confirmed booking.
      operationId: getBookingBookedOffersAdditionalOffers
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      - name: bookedOfferId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      responses:
        '200':
          description: 'additional offers found for booked offer

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalOfferCollectionResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/on-hold-offer:
    post:
      tags:
      - On Hold
      summary: Creates an on hold offer.
      description: 'On hold offer created

        '
      operationId: createOnHoldOffer
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/idempotencyKey'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnHoldOfferRequest'
      responses:
        '200':
          description: 'on-hold offer created

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnHoldOfferResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /offer-overview-route:
    post:
      tags:
      - Offer Overview
      summary: Returns an overview of prices based on route
      description: 'Returns an overview of prices for a given route search and criteria.

        The overview does not contain detailed offer information, but only the

        prices.

        '
      operationId: getOfferOverviewRoute
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferOverviewRouteRequest'
      responses:
        '200':
          description: 'overview of prices found

            '
          headers:
            Content-Language:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferOverviewRouteResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
  /offer-overview-trip:
    post:
      tags:
      - Offer Overview
      summary: Returns an overview of prices based on trips
      description: 'Returns an overview of prices for a given trip search and criteria.

        The overview does not contain detailed offer information, but only the

        prices.

        '
      operationId: getOfferOverviewTrip
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferOverviewTripRequest'
      responses:
        '200':
          description: 'overview of prices found

            '
          headers:
            Content-Language:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferOverviewTripResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
  /bookings/{bookingId}/on-hold-offer/{onHoldOfferId}:
    patch:
      tags:
      - On Hold
      summary: Confirms the on hold offer.
      operationId: confirmOnHoldOffer
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/idempotencyKey'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      - name: onHoldOfferId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnHoldOfferPatchRequest'
      responses:
        '200':
          description: 'on-hold offer confirmed

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnHoldOfferResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
    delete:
      tags:
      - On Hold
      summary: Deletes the on hold offer
      operationId: deleteOnHoldOffer
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      - name: onHoldOfferId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      responses:
        '204':
          description: 'In case that a request was successful only status code 204
            will be returned but no response content will be provided (aka as return
            type ''void'' in many programming languages).

            '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/passengers/{passengerId}:
    get:
      tags:
      - Passengers
      summary: Returns the passenger's information at booking step.
      operationId: getBookingPassengersId
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        description: 'id of the booking

          '
        required: true
        schema:
          type: string
      - name: passengerId
        in: path
        description: 'id of the passenger

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'passenger found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassengerResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
    patch:
      tags:
      - Passengers
      summary: Allows updating a passenger's information at booking step.
      operationId: patchBookingPassenger
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        description: 'id of the booking the passenger is in.

          '
        required: true
        schema:
          type: string
      - name: passengerId
        in: path
        description: 'id of the passenger

          '
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Passenger'
      responses:
        '200':
          description: 'passenger successfully patched

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassengerResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/passengers:
    get:
      tags:
      - Passengers
      summary: Returns all the passenger's in the booking.
      operationId: getBookingPassengers
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        description: 'id of the booking

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'passengers found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassengersCollectionResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
    patch:
      tags:
      - Passengers
      summary: Allows updating a set of passengers in a batch at booking step.
      operationId: patchBookingPassengers
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        description: 'id of the booking the passenger is in.

          '
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengersBatchUpdateRequest'
      responses:
        '200':
          description: 'all passengers successfully patched

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassengersCollectionResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '207':
          description: 'Partial success – some updates failed. updatedPassengers contains
            successfully updates. Failed updates are listed in the problems with at
            least following attributes:

            * problem.status indicates the http code of the encountered error for
            the specific request item, f ex "404" if the given passenger Id is not
            found

            * requestPointer indicates the specific request item the error relates
            to, f ex: #/passengerBatchUpdateRequest/passengers[2]/id

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassengersCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/purchaser:
    get:
      tags:
      - Purchaser
      summary: Returns the purchaser's information at booking step.
      operationId: getBookingPurchaser
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        description: 'id of the booking the purchaser is in.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'purchaser found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaserResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
    patch:
      tags:
      - Purchaser
      summary: Allows updating a purchaser's information at booking step.
      operationId: patchBookingPurchaser
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        description: 'id of the booking the purchaser is in.

          '
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purchaser'
      responses:
        '200':
          description: 'purchaser patched

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaserResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
    post:
      tags:
      - Purchaser
      summary: Allows creating a purchaser for a booking already existing.
      operationId: postBookingPurchaser
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        description: 'id of the booking the purchaser is in.

          '
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purchaser'
      responses:
        '200':
          description: 'purchaser posted

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaserResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/booked-offers:
    post:
      tags:
      - BookedOffers
      summary: Creates bookedOffers from offers and adds them in a booking.
      operationId: postBookingBookedOffers
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/idempotencyKey'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookedOfferRequest'
      responses:
        '200':
          description: 'booking pre-booked

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookedOfferResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/booked-offers/{bookedOfferId}:
    get:
      tags:
      - BookedOffers
      summary: Gets a bookedOffer of a booking.
      operationId: getBookingBookedOffersId
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      - name: bookedOfferId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      responses:
        '200':
          description: 'bookedOffer found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookedOfferResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
    delete:
      tags:
      - BookedOffers
      summary: Delete a bookedOffer from a booking.
      operationId: deleteBookingBookedOffersId
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
        description: deprecated
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      - name: bookedOfferId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      responses:
        '204':
          description: 'In case that a request was successful only status code 204
            will be returned but no response content will be provided (aka as return
            type ''void'' in many programming languages).

            '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/booked-offers/{offerId}/passengers/{passengerId}:
    delete:
      tags:
      - BookedOffers
      summary: Delete a passenger from bookedOffer of a booking.
      description: 'Deletes all booked offer parts of the passenger only if this valid
        from a tariff point of view. This implies that the offer part are sufficiently
        partitioned and no repricing is needed.

        '
      operationId: deleteBookingBookedOffersIdPassengerId
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
        description: deprecated
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      - name: offerId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      - name: passengerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: 'In case that a request was successful only status code 204
            will be returned but no response content will be provided (aka as return
            type ''void'' in many programming languages).

            '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/offer-parts:
    post:
      tags:
      - BookingPart
      summary: 'Adds a reservation or ancillary not previously added from offer to
        a booking.

        '
      description: 'Adds a reservation or an ancillary to a booking. A provider can
        decide to allow or reject additional admissions, reservations or ancillaries
        on an

        confirmed booking.

        '
      operationId: createBookingBookedOffersParts
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/idempotencyKey'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      - name: bookedOfferId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookedOfferPartRequest'
      responses:
        '200':
          description: 'reservation or ancillary added to booked offer

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookedOfferPartResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
    delete:
      tags:
      - BookingPart
      summary: Removes reservations or ancillaries from a booking in case the parts
        were not yet confirmed. On confirmed reservations use the refund.
      operationId: deleteBookingBookedOffersParts
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      - name: bookedOfferId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookedOfferPartDeleteRequest'
      responses:
        '204':
          description: 'In case that a request was successful only status code 204
            will be returned but no response content will be provided (aka as return
            type ''void'' in many programming languages).

            '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/reservations:
    post:
      tags:
      - BookingPart
      summary: 'Adds a reservation not previously added from offer to a booking.

        '
      description: '*DEPRECATED* in favour to unified endpoint handling both ancillaries
        and reservations.


        Adds a reservation to a booking. A provider can decide to allow or

        reject additional admissions, reservations or ancillaries on an

        confirmed booking.

        '
      operationId: createBookingBookedOffersReservations
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/idempotencyKey'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      - name: bookedOfferId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookedOfferReservationRequest'
      responses:
        '200':
          description: 'reservation added to booked offer

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookedOfferReservationResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/reservations/{reservationId}:
    delete:
      tags:
      - BookingPart
      summary: Removes a reservation from a booking in case the reservation was not
        yet confirmed. On confirmed reservations use the refund.
      operationId: deleteBookingBookedOffersReservations
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
        description: deprecated
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      - name: bookedOfferId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      - name: reservationId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      responses:
        '204':
          description: 'In case that a request was successful only status code 204
            will be returned but no response content will be provided (aka as return
            type ''void'' in many programming languages).

            '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/ancillaries:
    post:
      tags:
      - BookingPart
      summary: Adds an ancillary not previously added from offer to a booking.
      description: '*DEPRECATED* in favour to unified endpoint handling both ancillaries
        and reservations.


        Adds an ancillary to a booking. A provider can decide to allow or reject

        additional admissions, reservations or ancillaries on an confirmed

        booking.

        '
      operationId: createBookingBookedOffersAncillaries
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/idempotencyKey'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      - name: bookedOfferId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookedOfferAncillaryRequest'
      responses:
        '200':
          description: 'ancillary added to booked offer

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookedOfferAncillaryResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/ancillaries/{ancillaryId}:
    delete:
      tags:
      - BookingPart
      summary: Removes an ancillary from a booking in case the ancillary is not jet
        confirmed. On confirmed ancillaries use the refund.
      operationId: deleteBookingBookedOffersAncillary
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
        description: deprecated
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      - name: bookedOfferId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      - name: ancillaryId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      responses:
        '204':
          description: 'In case that a request was successful only status code 204
            will be returned but no response content will be provided (aka as return
            type ''void'' in many programming languages).

            '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/admissions/{admissionId}:
    delete:
      tags:
      - BookingPart
      summary: Removes an admission from a booking. In case the admission is not confirmed.
        On a confirmed admission use the refund.
      description: 'Removes an admission from pre-booked booking.It is up to the provider

        to change or remove dependent bookedOfferParts or to reject the request.

        A repricing might occur.

        '
      operationId: deleteBookingBookedOffersAdmission
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
        description: deprecated
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      - name: bookedOfferId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      - name: admissionId
        in: path
        required: true
        schema:
          type: string
          maxLength: 32768
      responses:
        '204':
          description: 'In case that a request was successful only status code 204
            will be returned but no response content will be provided (aka as return
            type ''void'' in many programming languages).

            '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings:
    post:
      tags:
      - Bookings
      summary: Creates a booking based on a previously requested offer.
      operationId: postBookings
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/idempotencyKey'
      - $ref: '#/components/parameters/acceptNamespace'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingRequest'
      responses:
        '200':
          description: 'booking pre-booked

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}:
    get:
      tags:
      - Bookings
      summary: Returns a booking.
      operationId: getBookingsId
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: bookingId
        in: path
        description: 'id of the booking to get.

          '
        required: true
        schema:
          type: string
      - name: embed
        in: query
        description: 'Influences whether referenced resources are returned in full
          or as references only.

          Default value: ALL

          '
        schema:
          type: array
          maxItems: 7
          items:
            $ref: '#/components/schemas/BookingResponseContent'
      responses:
        '200':
          description: 'booking found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
    patch:
      tags:
      - Bookings
      summary: Updates a booking but does *not* confirm the booking.
      description: 'Updates fulfillment types, place selection and add payment. Does
        *not* confirm the booking. The booking is confirmed by calling ''POST /bookings/{bookingId}/fulfillments''.

        '
      operationId: updateBooking
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: bookingId
        in: path
        description: 'id of the booking to be patched

          '
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingPatchRequest'
      responses:
        '200':
          description: 'booking fulfillment type updated

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
    delete:
      tags:
      - Bookings
      summary: Deletes a booking.
      description: 'It is only possible before the booking is confirmed.

        '
      operationId: deleteBookingsId
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
        description: deprecated
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        description: 'id of the booking to delete.

          '
        required: true
        schema:
          type: string
      responses:
        '204':
          description: 'In case that a request was successful only status code 204
            will be returned but no response content will be provided (aka as return
            type ''void'' in many programming languages).

            '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/cleanup:
    post:
      tags:
      - Bookings
      summary: Performs a complete cleanup of a booking in a single step
      description: 'The booking is cleaned up completely: confirmed items are refunded,
        and unconfirmed items are deleted.

        -- Attention point: refundDate and overruleCode are deprecated request attributes
        and will be ignored

        '
      operationId: postBookingCleanup
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/idempotencyKey'
      - name: bookingId
        in: path
        description: 'id of the booking.

          '
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingCleanupRequest'
      responses:
        '202':
          $ref: '#/components/responses/CleanupRequestAcceptedResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/history:
    get:
      tags:
      - Bookings
      summary: Returns the history of changes to a booking.
      operationId: getBookingsIdHistory
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - name: bookingId
        in: path
        description: 'id of the booking to get.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'booking history found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings-search:
    post:
      tags:
      - Bookings Search
      - Search
      summary: Search for bookings based on search parameters.
      operationId: searchBookings
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: page
        in: query
        schema:
          type: string
        deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingSearchRequest'
      responses:
        '200':
          description: 'booking search results found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingSearchResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/split:
    post:
      tags:
      - Bookings Split
      summary: Split a booking into multiple bookings.
      description: 'Splits a booking into a set of bookings according to the defined
        groups of a passenger(s). Only possible if allowed by the underlying tariff,
        if the bookedOffers are sufficiently partitioned and no pricing is needed.

        '
      operationId: splitBookings
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
        description: deprecated
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/idempotencyKey'
      - name: bookingId
        in: path
        description: 'id of the booking to be split

          '
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingSplitRequest'
      responses:
        '200':
          description: 'booking split

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingSplitResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/fulfillments:
    post:
      tags:
      - Fulfillments
      summary: Confirms the booking a triggers the fulfillment of the booking synchronously
        or asynchronously.
      description: 'Confirms the booking and triggers the fulfillment of the booking.


        If the fulfillments are created synchronously the service directly returns
        the fulfillments. The fulfillments are then in state FULFILLED.


        If the fulfillments are created asynchronously the service starts the creation
        of the fulfillments. The fulfillmentIds may or may not returned. The fulfillments
        are in stage CONFIRMED. The booking needs to be retrieved later to obtain
        the fulfillments.

        '
      operationId: postFulfillments
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/idempotencyKey'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: bookingId
        in: path
        description: 'id of the booking to be patched

          '
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FulfillmentPostRequest'
      responses:
        '200':
          description: 'Fulfillment successfully completed

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FulfillmentCollectionResponse'
        '202':
          description: 'Fulfillment successfully completed

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FulfillmentCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
    patch:
      tags:
      - Fulfillments
      summary: Optionally finalizes the fulfillments in asynchronous mode.
      description: 'Optionally finalizes the fulfillment in case of an asynchronous
        fulfillment mode when the provider doesn''t complete the asynchronous fulfillment
        automatically.


        This step may be used as an indication of the `proof of delivery` to disallow
        the cancellation of booking.

        '
      operationId: finalizeFulfillments
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/idempotencyKey'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: bookingId
        in: path
        description: 'id of the booking to be patched

          '
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FulfillmentPatchRequest'
      responses:
        '200':
          description: 'Fulfillment successfully completed

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FulfillmentCollectionResponse'
        '202':
          $ref: '#/components/responses/FulfillmentRequestAcceptedResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /bookings/{bookingId}/fulfillment-check:
    get:
      tags:
      - Fulfillments
      summary: Verification step (step 1 in a two phase commit process) to run before
        the effective fulfillment endpoint. Provider do all checks to "guarantee"
        that fullfillment will work.
      description: 'Step 1 in a two phase commit process. An aggregator can use this
        to secure that all underlaying provider systems are up and running and the
        provider booking is ready to be fulfilled.

        '
      operationId: getCheckFulfillments
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/idempotencyKey'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: bookingId
        in: path
        description: 'id of the booking to be patched

          '
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success, verified OK
        '400':
          $ref: '#/components/responses/DefaultErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /fulfillments/{fulfillmentId}:
    get:
      tags:
      - Fulfillments
      summary: Returns the fulfillment, aka. ticket for the provided id.
      operationId: getFulfillmentId
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: fulfillmentId
        in: path
        description: 'id of the fulfillment to get.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'fulfillment found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FulfillmentResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
    patch:
      tags:
      - Fulfillments
      summary: Activates a fulfillment, i.e. changes the status from AVAILABLE to
        FULFILLED.
      description: "Changes the fulfillment from status AVAILABLE to FULFILLED. In\
        \ the case of multi-trip product\nwith usage quota, the fulfillment must be\
        \ referenced in booking of a trip to produce Fulfillment \nrelated to that\
        \ trip that uses quota of the multi-journey product.\n"
      operationId: patchFulfillmentId
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/idempotencyKey'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: fulfillmentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FulfillmentActivationPatchRequest'
      responses:
        '200':
          description: 'fulfillment patched

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FulfillmentResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
  /fulfillments/{fulfillmentId}/continuous-service-usage/{continuousServiceUsageId}:
    get:
      tags:
      - Fulfillments
      - On-Demand Services
      summary: return the continuous service usage including latest updates
      operationId: getContinuousServiceUsageId
      parameters:
      - $ref: '#/components/parameters/requestor'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/traceParent'
      - $ref: '#/components/parameters/traceState'
      - $ref: '#/components/parameters/acceptNamespace'
      - name: fulfillmentId
        in: path
        description: 'id of the fulfillment to get.

          '
        required: true
        schema:
          type: string
      - name: continuousServiceUsageId
        in: path
        description: 'id of the continuous service usage to get.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'continuous service usage found

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousServiceUsage'
          headers:
            Content-Language:
              schema:
                type: string
                description: 'The language of translatable strings in the response
                  (see RFC2616-sec14.12).

                  '
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/DefaultErrorResponse'
    patch:
      tags:
      - Fulfillments
      - On-Demand Services
[...]
